# Database Configuration
DATABASE_URL="file:./dev.db"

# Next.js Server
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Admin Secrets (For production authentication)
ADMIN_SECRET_KEY="super_secret_cashall_admin_key"

# OTP Provider (For production SMS integration)
OTP_GATEWAY_API_KEY=""
